
@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&family=Roboto:wght@100&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    color: white;
}

span {
    color: white;
}

section {
    background-image: url(../img/cleo-topper.jpg)
}

header img {
    height: 20px;
    padding-left: 78%; 
    padding-right: 2%;
    margin-top: 1%; 
}

header h5 {
    font-size: 15px;
    border-bottom: 2px solid #e7bc0e;
    color: white;
    display: inline;
    text-align: right;
}

  .roma {
    background-image: url("../img/cleo-topper.jpg");
    min-height: 300vh;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  

  h1 {
      width: 320px;
      margin-left: 10%;
      margin-top: 6%;
      font-size: 55px;
      font-weight: 800;
  }

  h3 {
      color: #e7bc0e;
      font-family: 'Mr Dafoe', cursive;
      margin-left: 10%;
      margin-top: 10%;
      font-size: 30px;
  }

  main p {
    margin: 270px 15% 80px ;
    color: #6bc1a3;
    line-height: 55px;
    font-size: 40px;
    line-height: 1.6;
    font-weight: 500;
  }

main img {
    margin-left: 15%;
    margin-top: 30%;
    height: 165px;
    width: 165px;
}

main h2 {
    color: #e7bc0e;
    font-size: 20vh;
    font-weight: 700;
    padding-left: 15%;
    margin-bottom: 0;
    padding-top: 35px;
}

main h3 {
    color: #e7bc0e;
    font-family: 'Roboto', sans-serif;
    font-size: 5vh;
    margin-top: 0;
    margin-left: 15%;
}

.pay {
    color:  #cb91b6;
   margin-bottom: 0;
    margin-top: 0;

}

main h4 {
    padding-top: 165px;
    padding-bottom: 0;
    margin-left: 15%;
    font-size: 5vh;
}


.health {
    color: #6bc1a3;
}

section p:last-child {
    color: #7eb8e1;
    line-height: 55px;
    font-size: 40px;
    line-height: 1.6;
    font-weight: 500;
    text-align: left;
    margin-top: 20vh;
    padding-top: 20vh;
    margin-left: 50%;
    margin-right: 10%;
 
}

/* kid + see */

.kid {
   background-image: url(../img/kid.png), url(../img/see.png);
   height: 100vh;
   background-size: cover;
   background-repeat: no-repeat;
}



/* footer */
.improve { 
    padding: 0 10%;
    background-color: black;
    height: 95vh;
    color: white;
}
footer{
    padding: 0 10%;
    background-color: black;
    height: 5vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer > p{
    margin: 0;
}

.improve h2 {
    font-size: 4em;
    width: 60%;
    margin: 0;
    padding-top: 15%;
}

.improve button {
    font-size: 2em;
    background: black;
    color: white;
    border: 2px solid white;
    padding: 15px 20px;
    margin-top: 5%;
}

footer span {
    color:#6bc1a3;
}